$loader-size: $space-unit * 4;
$loader-medium-size: $space-unit * 8;
$loader-large-size: $space-unit * 16;

$loader-primary-color: $brand-primary;
$loader-secondary-color: $brand-secondary;
$loader-tertiary-color: $brand-tertiary;
$loader-danger-color: $brand-danger;
$loader-warn-color: $brand-warning;
$loader-success-color: $brand-success;
