$navbar-bg: var(--surface-default-high);
$navbar-height: $space-64;
$navbar-index: 100;
$navbar-elevation: var(--elevation-1);
$navbar-border: none;

// menu
$navbar-menu-icon-size: $space-20;
$navbar-menu-outline: var(--focused);
