{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "vue"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": 8
            }
          }
        ]
      ]
    }
  }
}
