@use 'design-system/index' as ds;

// justify
.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

@include ds.media-min(tablet-portrait) {
  .justify-tp-start {
    justify-content: flex-start;
  }

  .justify-tp-center {
    justify-content: center;
  }

  .justify-tp-end {
    justify-content: flex-end;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-around {
    justify-content: space-around;
  }

  .justify-evenly {
    justify-content: space-evenly;
  }
}

@include ds.media-min(tablet-landscape) {
  .justify-tl-start {
    justify-content: flex-start;
  }

  .justify-tl-center {
    justify-content: center;
  }

  .justify-tl-end {
    justify-content: flex-end;
  }

  .justify-tl-between {
    justify-content: space-between;
  }

  .justify-tl-around {
    justify-content: space-around;
  }

  .justify-tl-evenly {
    justify-content: space-evenly;
  }
}

@include ds.media-min(small-desktop) {
  .justify-sd-start {
    justify-content: flex-start;
  }

  .justify-sd-center {
    justify-content: center;
  }

  .justify-sd-end {
    justify-content: flex-end;
  }

  .justify-sd-between {
    justify-content: space-between;
  }

  .justify-sd-around {
    justify-content: space-around;
  }

  .justify-sd-evenly {
    justify-content: space-evenly;
  }
}

@include ds.media-min(large-desktop) {
  .justify-ld-start {
    justify-content: flex-start;
  }

  .justify-ld-center {
    justify-content: center;
  }

  .justify-ld-end {
    justify-content: flex-end;
  }

  .justify-ld-between {
    justify-content: space-between;
  }

  .justify-ld-around {
    justify-content: space-around;
  }

  .justify-ld-evenly {
    justify-content: space-evenly;
  }
}

// items
.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

@include ds.media-min(tablet-portrait) {
  .items-tp-start {
    align-items: flex-start;
  }

  .items-tp-center {
    align-items: center;
  }

  .items-tp-end {
    align-items: flex-end;
  }

  .items-tp-baseline {
    align-items: baseline;
  }

  .items-tp-stretch {
    align-items: stretch;
  }
}

@include ds.media-min(tablet-landscape) {
  .items-tl-start {
    align-items: flex-start;
  }

  .items-tl-center {
    align-items: center;
  }

  .items-tl-end {
    align-items: flex-end;
  }

  .items-tl-baseline {
    align-items: baseline;
  }

  .items-tl-stretch {
    align-items: stretch;
  }
}

@include ds.media-min(small-desktop) {
  .items-sd-start {
    align-items: flex-start;
  }

  .items-sd-center {
    align-items: center;
  }

  .items-sd-end {
    align-items: flex-end;
  }

  .items-sd-baseline {
    align-items: baseline;
  }

  .items-sd-stretch {
    align-items: stretch;
  }
}

@include ds.media-min(large-desktop) {
  .items-ld-start {
    align-items: flex-start;
  }

  .items-ld-center {
    align-items: center;
  }

  .items-ld-end {
    align-items: flex-end;
  }

  .items-ld-baseline {
    align-items: baseline;
  }

  .items-ld-stretch {
    align-items: stretch;
  }
}

// text align
.align-start {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-end {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

@include ds.media-min(tablet-portrait) {
  .align-tp-start {
    text-align: left;
  }

  .align-tp-center {
    text-align: center;
  }

  .align-tp-end {
    text-align: right;
  }

  .align-tp-justify {
    text-align: justify;
  }
}

@include ds.media-min(tablet-landscape) {
  .align-tl-start {
    text-align: left;
  }

  .align-tl-center {
    text-align: center;
  }

  .align-tl-end {
    text-align: right;
  }

  .align-tl-justify {
    text-align: justify;
  }
}

@include ds.media-min(small-desktop) {
  .align-sd-start {
    text-align: left;
  }

  .align-sd-center {
    text-align: center;
  }

  .align-sd-end {
    text-align: right;
  }

  .align-sd-justify {
    text-align: justify;
  }
}

@include ds.media-min(large-desktop) {
  .align-ld-start {
    text-align: left;
  }

  .align-ld-center {
    text-align: center;
  }

  .align-ld-end {
    text-align: right;
  }

  .align-ld-justify {
    text-align: justify;
  }
}
