@use 'design-system/mixins/mixins';
@use 'design-system/variables/spacings';

// padding
@each $name, $space in spacings.$spacings {
  .pt-#{$name} {
    padding-top: $space;
  }

  .pr-#{$name} {
    padding-right: $space;
  }

  .pb-#{$name} {
    padding-bottom: $space;
  }

  .pl-#{$name} {
    padding-left: $space;
  }
}

@include mixins.media-min(tablet-portrait) {
  @each $name, $space in spacings.$spacings {
    .pt-tp-#{$name} {
      padding-top: $space;
    }

    .pr-tp-#{$name} {
      padding-right: $space;
    }

    .pb-tp-#{$name} {
      padding-bottom: $space;
    }

    .pl-tp-#{$name} {
      padding-left: $space;
    }
  }
}

@include mixins.media-min(tablet-landscape) {
  @each $name, $space in spacings.$spacings {
    .pt-tl-#{$name} {
      padding-top: $space;
    }

    .pr-tl-#{$name} {
      padding-right: $space;
    }

    .pb-tl-#{$name} {
      padding-bottom: $space;
    }

    .pl-tl-#{$name} {
      padding-left: $space;
    }
  }
}

@include mixins.media-min(small-desktop) {
  @each $name, $space in spacings.$spacings {
    .pt-sd-#{$name} {
      padding-top: $space;
    }

    .pr-sd-#{$name} {
      padding-right: $space;
    }

    .pb-sd-#{$name} {
      padding-bottom: $space;
    }

    .pl-sd-#{$name} {
      padding-left: $space;
    }
  }
}

@include mixins.media-min(large-desktop) {
  @each $name, $space in spacings.$spacings {
    .pt-ld-#{$name} {
      padding-top: $space;
    }

    .pr-ld-#{$name} {
      padding-right: $space;
    }

    .pb-ld-#{$name} {
      padding-bottom: $space;
    }

    .pl-ld-#{$name} {
      padding-left: $space;
    }
  }
}

// gap
@each $name, $space in spacings.$spacings {
  .gap-#{$name} {
    gap: $space;
  }
}

@include mixins.media-min(tablet-portrait) {
  @each $name, $space in spacings.$spacings {
    .gap-tp-#{$name} {
      gap: $space;
    }
  }
}

@include mixins.media-min(tablet-landscape) {
  @each $name, $space in spacings.$spacings {
    .gap-tl-#{$name} {
      gap: $space;
    }
  }
}

@include mixins.media-min(small-desktop) {
  @each $name, $space in spacings.$spacings {
    .gap-sd-#{$name} {
      gap: $space;
    }
  }
}

@include mixins.media-min(large-desktop) {
  @each $name, $space in spacings.$spacings {
    .gap-ld-#{$name} {
      gap: $space;
    }
  }
}

// row-gap
@each $name, $space in spacings.$spacings {
  .gap-x-#{$name} {
    row-gap: $space;
  }
}

@include mixins.media-min(tablet-portrait) {
  @each $name, $space in spacings.$spacings {
    .gap-x-tp-#{$name} {
      row-gap: $space;
    }
  }
}

@include mixins.media-min(tablet-landscape) {
  @each $name, $space in spacings.$spacings {
    .gap-x-tl-#{$name} {
      row-gap: $space;
    }
  }
}

@include mixins.media-min(small-desktop) {
  @each $name, $space in spacings.$spacings {
    .gap-x-sd-#{$name} {
      row-gap: $space;
    }
  }
}

@include mixins.media-min(large-desktop) {
  @each $name, $space in spacings.$spacings {
    .gap-x-ld-#{$name} {
      row-gap: $space;
    }
  }
}

// column-gap
@each $name, $space in spacings.$spacings {
  .gap-y-#{$name} {
    column-gap: $space;
  }
}

@include mixins.media-min(tablet-portrait) {
  @each $name, $space in spacings.$spacings {
    .gap-y-tp-#{$name} {
      column-gap: $space;
    }
  }
}

@include mixins.media-min(tablet-landscape) {
  @each $name, $space in spacings.$spacings {
    .gap-y-tl-#{$name} {
      column-gap: $space;
    }
  }
}

@include mixins.media-min(small-desktop) {
  @each $name, $space in spacings.$spacings {
    .gap-y-sd-#{$name} {
      column-gap: $space;
    }
  }
}

@include mixins.media-min(large-desktop) {
  @each $name, $space in spacings.$spacings {
    .gap-y-ld-#{$name} {
      column-gap: $space;
    }
  }
}
