@use 'design-system/index' as ds;

html {
  font-size: 62.5%;
}

body {
  font-family: ds.$font-family;
  font-size: ds.$text-3;
  font-weight: ds.$font-weight-regular;
  letter-spacing: ds.$letter-spacing-1;
  line-height: ds.$line-height-3;
  color: var(--text-default-high);
}

small {
  font-size: ds.$text-1;
}

strong {
  font-weight: ds.$font-weight-semi-bold;
}

a {
  color: var(--text-link);
  text-decoration: none;
}
