/**
 Variable Nomenclature:
 1. Brand (global namespace)
 2. Application (css property or purpose)
 3. Brand Variation (primary, warning, danger, success, inverse, default)
 4. Emphasis (optional)
 5. State (optional)
*/

:root.light {
  /* Brand Variations */
  --primary: #{palette-color-level('primary', 7)};
  --neutral: #{palette-color-level('neutral', 7)};
  --success: #{palette-color-level('success', 7)};
  --info: #{palette-color-level('info', 7)};
  --warning: #{palette-color-level('warning', 7)};
  --danger: #{palette-color-level('danger', 7)};

  /* Background Colors */
  --bg-default-high: #{palette-color-level('neutral', 1)};
  --bg-default-medium: #{palette-color-level('neutral', 2)};
  --bg-default-low: #{palette-color-level('neutral', 3)};
  --bg-inverse-high: #{palette-color-level('neutral', 10)};
  --bg-inverse-medium: #{palette-color-level('neutral', 9)};
  --bg-inverse-low: #{palette-color-level('neutral', 8)};

  /* Surface Colors */
  --surface-default-high: #{palette-color-level('neutral', 0)};
  --surface-default-medium: #{palette-color-level('neutral', 1)};
  --surface-default-low: #{palette-color-level('neutral', 2)};
  --surface-inverse-high: #{palette-color-level('neutral', 9)};
  --surface-inverse-medium: #{palette-color-level('neutral', 8)};
  --surface-inverse-low: #{palette-color-level('neutral', 7)};
  --surface-info-high: #{palette-color-level('info', 3)};
  --surface-info-medium: #{palette-color-level('info', 2)};
  --surface-info-low: #{palette-color-level('info', 1)};
  --surface-danger-high: #{palette-color-level('danger', 3)};
  --surface-danger-medium: #{palette-color-level('danger', 2)};
  --surface-danger-low: #{palette-color-level('danger', 1)};
  --surface-warning-high: #{palette-color-level('warning', 3)};
  --surface-warning-medium: #{palette-color-level('warning', 2)};
  --surface-warning-low: #{palette-color-level('warning', 1)};
  --surface-success-high: #{palette-color-level('success', 3)};
  --surface-success-medium: #{palette-color-level('success', 2)};
  --surface-success-low: #{palette-color-level('success', 1)};

  /* Border Colors */
  --border-default-medium: #{palette-color-level('neutral', 3)};
  --border-default-low: #{palette-color-level('neutral', 2)};
  --border-inverse-medium: #{palette-color-level('neutral', 6)};
  --border-inverse-low: #{palette-color-level('neutral', 7)};
  --border-info-high: #{palette-color-level('info', 7)};
  --border-info-low: #{palette-color-level('info', 2)};
  --border-danger-high: #{palette-color-level('danger', 7)};
  --border-danger-low: #{palette-color-level('danger', 2)};
  --border-warning-high: #{palette-color-level('warning', 7)};
  --border-warning-low: #{palette-color-level('warning', 2)};
  --border-success-high: #{palette-color-level('success', 7)};
  --border-success-low: #{palette-color-level('success', 2)};

  /* Text Colors */
  --text-default-high: #{palette-color-level('neutral', 10)};
  --text-default-medium: #{palette-color-level('neutral', 8)};
  --text-default-low: #{palette-color-level('neutral', 6)};
  --text-inverse-high: #{palette-color-level('neutral', 0)};
  --text-inverse-medium: #{palette-color-level('neutral', 2)};
  --text-inverse-low: #{palette-color-level('neutral', 4)};
  --text-info: #{palette-color-level('info', 7)};
  --text-danger: #{palette-color-level('danger', 7)};
  --text-warning: #{palette-color-level('warning', 7)};
  --text-success: #{palette-color-level('success', 7)};
  --text-link: #{palette-color-level('info', 6)};

  /* Interaction Colors */
  --interaction-primary-enabled: #{palette-color-level('primary', 7)};
  --interaction-primary-hovered: #{palette-color-level('primary', 6)};
  --interaction-primary-activated: #{palette-color-level('primary', 8)};

  --interaction-neutral-enabled: #{palette-color-level('neutral', 0)};
  --interaction-neutral-hovered: #{palette-color-level('neutral', 1)};
  --interaction-neutral-activated: #{palette-color-level('neutral', 3)};

  --interaction-danger-enabled: #{palette-color-level('danger', 7)};
  --interaction-danger-hovered: #{palette-color-level('danger', 6)};
  --interaction-danger-activated: #{palette-color-level('danger', 8)};

  --interaction-warning-enabled: #{palette-color-level('warning', 7)};
  --interaction-warning-hovered: #{palette-color-level('warning', 6)};
  --interaction-warning-activated: #{palette-color-level('warning', 8)};

  --interaction-success-enabled: #{palette-color-level('success', 7)};
  --interaction-success-hovered: #{palette-color-level('success', 6)};
  --interaction-success-activated: #{palette-color-level('success', 8)};

  --interaction-secondary-enabled: #{palette-color-level('info', 1)};
  --interaction-secondary-hovered: #{palette-color-level('info', 2)};
  --interaction-secondary-activated: #{palette-color-level('info', 3)};

  // UTILS
  /* Border radius */
  --border-radius-xs: #{$space-2};
  --border-radius-sm: #{$space-4};
  --border-radius-md: #{$space-8};
  --border-radius-lg: #{$space-16};

  /* Elevation */
  --elevation-1: 0px 1px 2px -1px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1);
  --elevation-2: 0px 2px 4px -2px rgba(0, 0, 0, 0.1), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  --elevation-3: 0px 4px 6px -4px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --elevation-4: 0px 8px 10px -6px rgba(0, 0, 0, 0.1), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);

  /* A11y */
  --focused: 0 0 0 #{$space-2} #{palette-color-level('neutral', 0)}, 0 0 0 #{$space-4} #{palette-color-level('info', 3)};

  /* Animation Language */
  --transition-duration: 250ms;
  --easing-curve: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  --fade-animation-transition: opacity var(--transition-duration) var(--easing-curve);
}
