$carousel-border-radius: $space-16;

// indicator
$carousel-indicator-bottom: $space-32;
$carousel-indicator-width: $space-8;
$carousel-indicator-height: $space-4;
$carousel-indicator-border-radius: $space-2;
$carousel-indicator-space: $space-4;

// default
$carousel-indicator-bg: palette-color-level('neutral', 0); // TODO: add token
$carousel-indicator-opacity: 0.6;
$carousel-indicator-width-active: $space-16;

// active
$carousel-indicator-bg-active: palette-color-level('neutral', 0); // TODO: add token
$carousel-indicator-opacity-active: 1;

// pagination
$carousel-pagination-bottom: $space-16;
$carousel-pagination-right: $space-16;
