<template>
  <div :class="$style.{{ camelCase componentName }}">
    {{ properCase componentName }}
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  name: '{{ properCase componentName }}',
  components: {},
  props: {},
  setup() {
    return {};
  },
});
</script>

<style lang="scss" module>
@import '~@/assets/design-system';

.{{ camelCase componentName }} {
  // this class is only applied if you add css properties
}
</style>
