<template>
  <div :class="$style.{{ camelCase componentName }}">
    {{ properCase componentName }}
  </div>
</template>

<script lang="ts">
export default {
  name: '{{ properCase componentName }}',
  components: {},
  props: {},
  data: (): any => ({}),
  computed: {},
  methods: {},
};
</script>

<style lang="scss" module>
@import '~@/app/shared/design-system';

.{{ camelCase componentName }} {
  // this class is only applied if you add css properties
}
</style>
