@include add-theme-variable(
  badge-color,
  (
    'light': var(--brand-high-emphasis-text-color-inverse),
    'dark': var(--brand-high-emphasis-text-color),
  )
);

$badge-padding: $space-4 $space-8;
$badge-font-size: $text-1;
$badge-line-height: inherit;
$badge-letter-spacing: inherit;
$badge-border-radius: var(--brand-border-radius-sm);
$badge-font-weight: $font-weight-regular;

$badge-outlined-border-width: 1px;

$badge-variations: (
  'primary': (
    'bg': var(--brand-primary),
    'color': var(--badge-color),
  ),
  'neutral': (
    'bg': var(--brand-neutral),
    'color': var(--badge-color),
  ),
  'danger': (
    'bg': var(--brand-danger),
    'color': var(--badge-color),
  ),
  'warning': (
    'bg': var(--brand-warning),
    'color': var(--badge-color),
  ),
  'success': (
    'bg': var(--brand-success),
    'color': var(--badge-color),
  ),
  'info': (
    'bg': var(--brand-info),
    'color': var(--badge-color),
  ),
);
