@include add-theme-variable(
  button-color,
  (
    'light': var(--brand-high-emphasis-text-color-inverse),
    'dark': var(--brand-high-emphasis-text-color),
  )
);

$button-padding: 0 $space-16;
$button-min-width: $space-32;
$button-height: $space-32;
$button-border-radius: var(--brand-border-radius-sm);
$button-disabled-opacity: 0.5;
$button-border-width: 0.2rem;
$button-icon-size: $space-24;

$button-variations: (
  'primary': (
    'bg': var(--brand-primary),
    'color': var(--button-color),
    'hover-bg': var(--brand-primary-hover),
    'hover-color': var(--button-color),
    'active-bg': var(--brand-primary-active),
    'active-color': var(--button-color),
    'focus-bg': var(--brand-primary-focus),
    'focus-color': var(--button-color),
    'border': $button-border-width solid var(--brand-primary),
  ),
  'neutral': (
    'bg': var(--brand-neutral),
    'color': var(--button-color),
    'hover-bg': var(--brand-neutral-hover),
    'hover-color': var(--button-color),
    'active-bg': var(--brand-neutral-active),
    'active-color': var(--button-color),
    'focus-bg': var(--brand-neutral-focus),
    'focus-color': var(--button-color),
    'border': $button-border-width solid var(--brand-neutral),
  ),
  'danger': (
    'bg': var(--brand-danger),
    'color': var(--button-color),
    'hover-bg': var(--brand-danger-hover),
    'hover-color': var(--button-color),
    'active-bg': var(--brand-danger-active),
    'active-color': var(--button-color),
    'focus-bg': var(--brand-danger-focus),
    'focus-color': var(--button-color),
    'border': $button-border-width solid var(--brand-danger),
  ),
  'warning': (
    'bg': var(--brand-warning),
    'color': var(--button-color),
    'hover-bg': var(--brand-warning-hover),
    'hover-color': var(--button-color),
    'active-bg': var(--brand-warning-active),
    'active-color': var(--button-color),
    'focus-bg': var(--brand-warning-focus),
    'focus-color': var(--button-color),
    'border': $button-border-width solid var(--brand-warning),
  ),
  'success': (
    'bg': var(--brand-success),
    'color': var(--button-color),
    'hover-bg': var(--brand-success-hover),
    'hover-color': var(--button-color),
    'active-bg': var(--brand-success-active),
    'active-color': var(--button-color),
    'focus-bg': var(--brand-success-focus),
    'focus-color': var(--button-color),
    'border': $button-border-width solid var(--brand-success),
  ),
  'info': (
    'bg': var(--brand-info),
    'color': var(--button-color),
    'hover-bg': var(--brand-info-hover),
    'hover-color': var(--button-color),
    'active-bg': var(--brand-info-active),
    'active-color': var(--button-color),
    'focus-bg': var(--brand-info-focus),
    'focus-color': var(--button-color),
    'border': $button-border-width solid var(--brand-info),
  ),
);
