$select-bg: var(--brand-primary-bg-color);
$select-padding: $space-8 0;
$select-color: var(--brand-high-emphasis-text-color);
$select-font-family: $font-family;
$select-font-size: $text-2;
$select-font-weight: $font-weight-regular;
$select-arrow-color: var(--brand-secondary);

$select-multi-max-height: $space-84;
$select-multi-option-padding: $space-4 0;
