$select-bg: var(--brand-bg-color);
$select-padding: $space-8 0;
$select-color: var(--brand-text-color);
$select-font-family: $font-family;
$select-font-size: $font-size-md;
$select-font-weight: $font-weight-light;
$select-arrow-color: var(--brand-secondary);

$select-multi-max-height: $space-84;
$select-multi-option-padding: $space-4 0;
