// small
$button-sm-padding: $space-4 $space-12;
$button-sm-height: $space-24 + $space-4;

// medium
$button-md-padding: $space-8 $space-16;
$button-md-height: $space-32 + $space-4;

// large
$button-lg-padding: $space-12 $space-24;
$button-lg-height: $space-40 + $space-4;

// common
$button-min-width: $space-32;
$button-border-radius: $space-8;
$button-disabled-opacity: 0.3;
$button-icon-size: $space-20 + $space-2;

$button-variations: (
  'primary': (
    'bg': var(--brand-primary-enabled),
    'color': var(--brand-high-emphasis-text-color-inverse),
    'hover-bg': var(--brand-primary-hover),
    'hover-color': var(--brand-high-emphasis-text-color-inverse),
    'active-bg': var(--brand-primary-active),
    'active-color': var(--brand-high-emphasis-text-color-inverse),
    'focus-bg': var(--brand-primary-focus),
    'focus-color': var(--brand-high-emphasis-text-color-inverse),
    'focus-box-shadow-color': var(--brand-primary-focus),
  ),
  'basic': (
    'bg': palette-color-level('primary', 2),
    'color': palette-color-level('primary', 7),
    'hover-bg': palette-color-level('primary', 1),
    'hover-color': palette-color-level('primary', 7),
    'active-bg': palette-color-level('primary', 3),
    'active-color': palette-color-level('primary', 7),
    'focus-bg': palette-color-level('primary', 2),
    'focus-color': palette-color-level('primary', 7),
    'focus-box-shadow-color': var(--brand-primary-focus),
  ),
  'outline': (
    'bg': palette-color-level('neutral', 0),
    'color': var(--brand-medium-emphasis-text-color),
    'hover-bg': palette-color-level('neutral', 1),
    'hover-color': var(--brand-medium-emphasis-text-color),
    'active-bg': palette-color-level('neutral', 0),
    'active-color': var(--brand-medium-emphasis-text-color),
    'focus-bg': palette-color-level('neutral', 0),
    'focus-color': var(--brand-medium-emphasis-text-color),
    'focus-box-shadow-color': var(--brand-primary-focus),
    'border': 1px solid var(--brand-primary-border-color),
  ),
  'danger': (
    'bg': var(--brand-danger-enabled),
    'color': var(--brand-high-emphasis-text-color-inverse),
    'hover-bg': var(--brand-danger-hover),
    'hover-color': var(--brand-high-emphasis-text-color-inverse),
    'active-bg': var(--brand-danger-active),
    'active-color': var(--brand-high-emphasis-text-color-inverse),
    'focus-bg': var(--brand-danger-focus),
    'focus-color': var(--brand-high-emphasis-text-color-inverse),
    'focus-box-shadow-color': var(--brand-danger-focus),
  ),
);
