// small
$button-sm-padding: ($space-4 + $space-2) $space-8;
$button-sm-has-icon-space: $space-8;

// medium
$button-md-padding: $space-10;
$button-md-has-icon-space: $space-12;

// large
$button-lg-padding: ($space-12 + $space-2) $space-20;
$button-lg-has-icon-space: $space-16;

// common
$button-min-width: $space-32;
$button-border-radius: 6px;
$button-disabled-opacity: 0.3;
$button-icon-size: $space-24;
$button-icon-gap: $space-4;
$button-outline: var(--focused);

$button-variations: (
  'primary': (
    'bg': var(--interaction-primary-enabled),
    'color': var(--text-inverse-high),
    'hover-bg': var(--interaction-primary-hovered),
    'hover-color': var(--text-inverse-high),
    'active-bg': var(--interaction-primary-activated),
    'active-color': var(--text-inverse-high),
  ),
  'secondary': (
    'bg': var(--interaction-secondary-enabled),
    'color': var(--text-info),
    'hover-bg': var(--interaction-secondary-hovered),
    'hover-color': var(--text-info),
    'active-bg': var(--interaction-secondary-activated),
    'active-color': var(--text-info),
  ),
  'outline': (
    'bg': var(--interaction-neutral-enabled),
    'color': var(--text-default-medium),
    'hover-bg': var(--interaction-neutral-hovered),
    'hover-color': var(--text-default-medium),
    'active-bg': var(--interaction-neutral-activated),
    'active-color': var(--text-default-medium),
    'border': 1px solid var(--border-default-medium),
  ),
  'ghost': (
    'bg': transparent,
    'color': var(--text-default-medium),
    'hover-bg': var(--interaction-neutral-hovered),
    'hover-color': var(--text-default-medium),
    'active-bg': var(--interaction-neutral-activated),
    'active-color': var(--text-default-medium),
  ),
  'danger': (
    'bg': var(--interaction-danger-enabled),
    'color': var(--text-inverse-high),
    'hover-bg': var(--interaction-danger-hovered),
    'hover-color': var(--text-inverse-high),
    'active-bg': var(--interaction-danger-activated),
    'active-color': var(--text-inverse-high),
  ),
);
