// Checkmark states
// default
$checkbox-checkmark-bg: palette-color-level('neutral', 0);
$checkbox-checkmark-border: 1px solid var(--brand-primary-border-color);

// hover
$checkbox-checkmark-bg-hover: palette-color-level('neutral', 0);
$checkbox-checkmark-border-hover: 1px solid var(--brand-primary-border-color);

// checked
$checkbox-checkmark-bg-checked: var(--brand-primary-enabled);
$checkbox-checkmark-border-checked: 1px solid var(--brand-primary-enabled);

// Checkmark
$checkbox-checkmark-size: $space-16;
$checkbox-checkmark-border-radius: $space-4;
$checkbox-checkmark-outline: var(--brand-shadow-outline);

// Checkbox
$checkbox-label-gap: $space-8;
$checkbox-disabled-disabled-opacity: 0.3;
