// Checkmark states

// UNCHECKED
// ENABLED
$checkbox-checkmark-bg: var(--interaction-neutral-enabled);
$checkbox-checkmark-color: var(--interaction-neutral-enabled);
$checkbox-checkmark-border: 1px solid var(--border-default-medium);

// HOVER
$checkbox-checkmark-bg-hover: var(--interaction-neutral-hovered);
$checkbox-checkmark-color-hover: var(--interaction-neutral-hovered);
$checkbox-checkmark-border-hover: 1px solid var(--border-default-medium);

// CHECKED
// ENABLED
$checkbox-checkmark-bg-checked: var(--interaction-primary-enabled);
$checkbox-checkmark-border-checked: 1px solid var(--interaction-primary-enabled);

// ENABLED
$checkbox-checkmark-bg-checked-hover: var(--interaction-primary-hovered);
$checkbox-checkmark-border-checked-hover: 1px solid var(--interaction-primary-hovered);

// Checkmark
$checkbox-checkmark-size: $space-16;
$checkbox-checkmark-border-radius: 4px;
$checkbox-checkmark-outline: var(--focused);

// Checkbox
$checkbox-label-gap: $space-8;
$checkbox-disabled-disabled-opacity: 0.3;
$checkbox-error-color: var(--text-danger);
