// Checkmark states
// default
$radio-checkmark-bg: palette-color-level('neutral', 0);
$radio-checkmark-border: 1px solid var(--brand-primary-border-color);

//hover
$radio-checkmark-bg-hover: palette-color-level('neutral', 0);
$radio-checkmark-border-hover: 1px solid var(--brand-primary-border-color);

// checked
$radio-checkmark-bg-checked: var(--brand-primary-enabled);
$radio-checkmark-border-checked: 1px solid var(--brand-primary-enabled);

// Checkmark
$radio-checkmark-size: $space-16;
$radio-checkmark-border-radius: 50%;
$radio-checkmark-outline: 0 0 0 $space-2 palette-color-level('neutral', 0), 0 0 0 $space-4 var(--brand-primary-focus);

// Checkbox
$radio-label-gap: $space-8;
$radio-disabled-disabled-opacity: 0.3;
