$slider-height: $space-64;
$slider-input-width: $space-48;
$slider-disabled-opacity: 0.3;

// track
$slider-track-height: $space-4;
$slider-track-border-radius: $space-2;
$slider-track-bg: var(--brand-tertiary-bg-color);
$slider-progress-height: $space-4;
$slider-progress-border-radius: $space-2;
$slider-progress-bg: var(--brand-primary-enabled);

// handle
$slider-handle-size: $space-16;
$slider-handle-size-hover: $space-24;
$slider-handle-border-radius: 50%;
$slider-handle-bg: var(--brand-primary-enabled);
$slider-handle-active-shadow: var(--brand-shadow-outline);
