// label
$textarea-label-height: $space-16;
$textarea-label-gap: $space-4;

// input default
$textarea-border-radius: var(--brand-border-radius-md);
$textarea-border: 1px solid var(--brand-border-default-medium);
$textarea-height: $space-120;
$textarea-padding: ($space-12 - $space-2) $space-12;
$textarea-color: var(--brand-text-default-high);
$textarea-placeholder-color: var(--brand-text-default-low);
$textarea-background-color: transparent;
$textarea-font-family: $font-family;
$textarea-font-size: $text-1;
$textarea-font-weight: $font-weight-regular;
$textarea-line-height: $line-height-1 + $space-2;

// description
$textarea-description-gap: $space-4;
$textarea-description-height: $space-16;

// utils
$textarea-disabled-disabled-opacity: 0.3;
$textarea-outline: var(--brand-focused);

// hover
$textarea-border-hover: 1px solid var(--brand-border-default-medium);

// error
$textarea-bg-error: var(--brand-surface-danger-low);
$textarea-border-error: 1px solid var(--brand-border-danger-high);
