// toggle states
// default
$toggle-bg: var(--brand-surface-color-low);
$toggle-handle-bg: var(--brand-text-color-high);

// hover
$toggle-bg-hover: var(--brand-surface-color-low);
$toggle-handle-bg-hover: var(--brand-text-color-high);

// checked
$toggle-bg-checked: var(--brand-surface-color-info);
$toggle-handle-bg-checked: var(--brand-text-color-info-high);

$toggle-width: $space-32;
$toggle-height: $space-16;
$toggle-border-radius: var(--brand-border-radius-md);

$toggle-handle-width: $toggle-height - $space-4;
$toggle-handle-height: $toggle-height - $space-4;
$toggle-handle-border-radius: 50%;

$toggle-label-gap: $space-8;
$toggle-outline: var(--brand-outline);
$toggle-disabled-opacity: 0.3;
