$select-min-width: $space-120;

// input default
$select-border-radius: 6px;
$select-border: 1px solid var(--border-default-medium);
$select-background-color: var(--surface-default-high);
$select-font-family: $font-family;
$select-font-size: $text-3;
$select-font-weight: $font-weight-regular;
$select-line-height: $line-height-3 + $space-2;

// utils
$select-disabled-disabled-opacity: 0.3;
$select-outline: var(--focused);

// hover
$select-border-hover: 1px solid var(--border-default-medium);

// error
$select-bg-error: var(--surface-danger-low);
$select-border-error: 1px solid var(--border-danger-high);

// trailing icon
$select-trailing-icon-size: $space-20;
$select-trailing-color: var(--text-default-high);
