.home .hero .description, .home .feature p, .home .footer {
  color: #010b0a;
}
.custom-block.tip {
  border-color: #00B84A;
}
.custom-block.warning {
  border-color: #FFAA00;
}
.custom-block.warning .custom-block-title {
  color: #FFAA00;
}
.page-edit .edit-link a {
  color: #f43b6c;
}
.content code {
  color: #010b0a;
}