$dropdown-menu-button-padding: $space-4;
$dropdown-menu-button-border-radius: var(--brand-border-radius-sm);
$dropdown-menu-button-font-family: $font-family;
$dropdown-menu-button-font-size: $text-2;
$dropdown-menu-button-font-weight: $font-weight-regular;
$dropdown-menu-button-line-height: $line-height-2;
$dropdown-menu-button-letter-spacing: $letter-spacing-1;
$dropdown-menu-button-border: none;
$dropdown-menu-button-bg: var(--brand-primary-bg-color);
$dropdown-menu-button-hover-bg: var(--brand-secondary-bg-color);
$dropdown-menu-button-icon-size: $dropdown-menu-button-font-size;

$dropdown-menu-list-padding: $space-8 0;
$dropdown-menu-list-index: 1000;
$dropdown-menu-list-bg: var(--brand-primary-bg-color);
$dropdown-menu-list-color: var(--brand-high-emphasis-text-color);
$dropdown-menu-list-border: 1px solid var(--brand-primary-border-color);
$dropdown-menu-list-border-radius: var(--brand-border-radius-sm);
$dropdown-menu-list-min-width: 200px;
$dropdown-menu-list-font-size: $text-1;
$dropdown-menu-list-font-weight: $font-weight-regular;
$dropdown-menu-list-line-height: $line-height-2;
$dropdown-menu-list-shadow: var(--brand-elevation-1);

$dropdown-menu-list-item-padding: $space-8 $space-12;
$dropdown-menu-list-item-hover-bg: var(--brand-secondary-bg-color);
