$modal-shadow: var(--brand-elevation-3);
$modal-padding: $space-12;
$modal-index: 2001;
$modal-bg: var(--brand-primary-bg-color);
$modal-max-width: 50%;
$modal-transition: var(--brand-fade-animation-transition);
$modal-border-radius: var(--brand-border-radius-lg);
