$pop-over-icon-size: $space-16;
$pop-over-bg: var(--brand-secondary-bg-color);
$pop-over-padding: $space-16;
$pop-over-shadow: var(--brand-elevation-2);
$pop-over-border-radius: var(--brand-border-radius-sm);
