/* Brand */
$brand-dark-primary: #7966F3;
$brand-light-primary: #9B9BFD;
$brand-primary: #A851E2;

$brand-accent: #17BEBB;
$brand-warn: #FB3640;

$bg-color: #333;

$text-color: #FFF;
$secondary-text-color: #BABABA;

$divider-color: lighten($bg-color, 20%);

$transition-duration: 250ms;

/* General */
$google-font: 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
$font-family: 'Alegreya Sans', Helvetica, sans-serif;
$font-size: 16px;
$font-color: $text-color;
$font-weight: 300;
$grid-unit: 8px;
$link-active-color: $brand-accent;

/* Headings */
$font-size-h1: 42px;
$font-size-h2: 36px;
$font-size-h3: 30px;
$font-size-h4: 26px;
$font-size-h5: 22px;
$font-size-h6: 18px;

/* Grid */
$screen-phone: 320px;
$screen-phone-max: $screen-phone - 1;
$screen-tablet-portrait: 768px;
$screen-tablet-portrait-max: $screen-tablet-portrait - 1;
$screen-tablet-landscape: 1024px;
$screen-tablet-landscape-max: $screen-tablet-landscape - 1;
$screen-small-desktop: 1200px;
$screen-small-desktop-max: $screen-small-desktop - 1;
$screen-large-desktop: 1440px;
$screen-large-desktop-max: $screen-large-desktop - 1;
$screen-phone-gutter: 16px;
$screen-tablet-portrait-gutter: 16px;
$screen-tablet-landscape-gutter: 16px;
$screen-small-desktop-gutter: 16px;
$screen-large-desktop-gutter: 16px;

/* AppNavBar*/
$nav-bar-bg: linear-gradient(to bottom, $bg-color 0%, lighten($bg-color, 2%) 50%, $bg-color 100%);
$nav-bar-color: $text-color;
$nav-bar-width: 100%;
$nav-bar-height: $grid-unit * 10;
$nav-bar-padding: 0;
$nav-bar-index: 1000;
$nav-bar-bg-transition: opacity $transition-duration ease-in-out;
$nav-bar-bg-accent-transition: transform $transition-duration ease-in-out;
$nav-bar-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
$nav-bar-accent-bg: linear-gradient(to left, $brand-dark-primary 0%, $brand-primary 100%);
$nav-bar-accent-shadow: $nav-bar-shadow;
$nav-bar-hamburger-bg: $divider-color;
$nav-bar-menu-border-color: lighten($bg-color, 5%);
$nav-bar-menu-bg: transparent;

/* Button */
$button-font-family: $font-family;
$button-padding: ($grid-unit * 2) - 2 $grid-unit * 2;
$button-margin: 0 $grid-unit $grid-unit * 2 0;
$button-min-width: $grid-unit * 14;
$button-height: $grid-unit * 6;
$button-font-size: $font-size;
$button-font-weight: 400;
$button-border-radius: 0;
$button-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
$button-transition: all 300ms cubic-bezier(.25, .8, .25, 1);
$button-active-shadow: 0 12px 20px rgba(0, 0, 0, 0.20), 0 10px 10px rgba(0, 0, 0, 0.18);

$button-default-color: #FFF;
$button-default-bg: linear-gradient(171deg, $divider-color 0%, lighten($divider-color, 5%) 100%);
$button-default-hover-bg: $button-default-bg;

$button-primary-color: #000;
$button-primary-bg: linear-gradient(171deg, $brand-primary 0%, lighten($brand-primary, 5%) 100%);
$button-primary-hover-bg: $button-primary-bg;

$button-accent-color: #000;
$button-accent-bg: linear-gradient(171deg, $brand-accent 0%, lighten($brand-accent, 5%) 100%);
$button-accent-hover-bg: $button-accent-bg;

$button-warn-color: #000;
$button-warn-bg: linear-gradient(171deg, $brand-warn 0%, lighten($brand-warn, 5%) 100%);
$button-warn-hover-bg: $button-warn-bg;

/* Loader */
$loader-size: $grid-unit * 4;
$loader-medium-size: $grid-unit * 8;
$loader-large-size: $grid-unit * 16;

/* Panel */
$panel-bg: lighten($bg-color, 5%);
$panel-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$panel-border-radius: 0;
$panel-margin: 0 0 $grid-unit * 5 0;

$panel-header-padding: $grid-unit * 3 $grid-unit * 3 $grid-unit * 2;
$panel-header-image-size: $grid-unit * 5;
$panel-header-image-border-radius: 50%;
$panel-header-image-margin: $grid-unit $grid-unit * 2 0 0;
$panel-header-title-font-size: $font-size-h6;
$panel-header-title-font-weight: 500;
$panel-header-subtitle-font-size: $font-size;
$panel-header-subtitle-font-weight: 300;
$panel-header-subtitle-color: $secondary-text-color;

$panel-body-padding: $grid-unit * 2 $grid-unit * 3;
$panel-body-font-size: $font-size;
$panel-body-color: $text-color;

$panel-footer-padding: $grid-unit * 2;

/* Input */
$input-border-bottom: 1px solid $divider-color;
$input-background-color: $bg-color;
$input-padding: $grid-unit 0;
$input-margin: $grid-unit * 3 0 $grid-unit * 2;
$input-font-size: $font-size;
$input-color: $font-color;
$input-color-disabled: lighten($font-color, 40%);
$input-height: $grid-unit * 3;

$input-placeholder-top: $grid-unit * 1.5;
$input-placeholder-color: $input-color;
$input-placeholder-font-size: $input-font-size;
$input-placeholder-font-weight: $font-weight;
$input-placeholder-active-font-size: $input-font-size - 4;
$input-placeholder-active-font-weight: $font-weight;
$input-placeholder-active-font-color: $brand-accent;
$input-placeholder-active-height: $grid-unit * 2;

$input-bar-height: 2px;
$input-bar-color: $brand-accent;

$input-message-height: $grid-unit * 3;
$input-message-padding: $grid-unit * 0.5 0 0 0;
$input-message-color: $input-color;
$input-message-font-size: $input-font-size;
$input-message-font-weight: $font-weight;

/* Modal */
$modal-shadow: $nav-bar-shadow;
$modal-padding: $grid-unit * 3;
$modal-index: 2001;
$modal-bg: $nav-bar-bg;
$modal-max-width: 480px;

/* Footer */
$footer-padding: $grid-unit * 2 0 $grid-unit * 2 0;
$footer-bg: linear-gradient(to bottom, darken($text-color, 3%) 0%, $text-color 50%, darken($text-color, 3%) 100%);
$footer-color: $bg-color;

/* Tabs */
$tab-group-bg: $panel-bg;
$tab-group-shadow: $nav-bar-shadow;
$tab-group-padding: 0 $grid-unit * 2 $grid-unit * 2;
$tab-group-margin: $grid-unit * 4 0 0 0;

$tab-group-header-bg: $panel-bg;
$tab-group-header-shadow: $nav-bar-shadow;
$tab-group-header-item-padding: $grid-unit * 1.5 $grid-unit $grid-unit;
$tab-group-header-item-border-left: 1px solid lighten($panel-bg, 2%);
$tab-group-header-item-border-right: 1px solid darken($panel-bg, 2%);
$tab-group-header-item-hover-bg: $brand-primary;

$tab-item-transition: transform $transition-duration linear;

/* CheckBox */
$checkbox-color: $text-color;
$checkbox-padding: 0;
$checkbox-margin: $grid-unit 0;
$checkbox-size: $grid-unit * 3;
$checkbox-bg: #FFF;
$checkbox-transition: background $transition-duration cubic-bezier(0, .84, .83, .67);
$checkbox-check: 2px solid #FFF;
$checkbox-check-margin: 0 $grid-unit * 2 0 0;
$checkbox-checked-bg: $brand-accent;
$checkbox-shadow: $panel-shadow;

/* Tooltip */
$tooltip-bg: $brand-accent;
$tooltip-color: $bg-color;
$tooltip-padding: $grid-unit / 2 $grid-unit;
$tooltip-shadow: $panel-shadow;
$tooltip-highlight-color: $tooltip-bg;

/* Slider */
$slider-margin: 0;
$slider-padding: $grid-unit * 3 $grid-unit * 2;
$slider-track-bg: lighten($bg-color, 15%);
$slider-track-shadow: $panel-shadow;
$slider-progress-height: $grid-unit * 0.5;
$slider-progress-bg: linear-gradient(to left, $brand-dark-primary 0%, $brand-accent 100%);
$slider-handle-size: $grid-unit * 4;
$slider-handle-shadow: $panel-shadow;
$slider-handle-bg: $bg-color;
$slider-handle-border: 2px solid $brand-accent;
$slider-handle-transition: box-shadow $transition-duration / 2 ease-in-out;
$slider-handle-active-shadow: 0 0 0 8px rgba(red($brand-accent), green($brand-accent), blue($brand-accent), .5);
$slider-values-margin: 0 0 40px -16px;

/* Accordion */

$accordion-item-header-bg: $panel-bg;
$accordion-item-header-shadow: $panel-shadow;
$accordion-item-header-padding: $grid-unit * 2;
$accordion-item-header-border-top: 1px solid lighten($bg-color, 10%);
$accordion-item-header-arrow-color: $brand-accent;
$accordion-item-body-padding: $accordion-item-header-padding;
