@import "variables";
@import "mixins";

html {
  font-size: 62.5%
}

body {
  font-family:    $font-family;
  font-size:      1.6em;
  font-weight:    $font-weight-regular;
  letter-spacing: $letter-spacing;
  line-height:    $line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  margin:      3rem 0 2rem 0;
}

h1 {
  font-size:      $font-size-h1;
  font-weight:    $font-weight-h1;
  letter-spacing: $letter-spacing-h1;
  line-height:    $line-height-h1;
}

h2 {
  font-size:      $font-size-h2;
  font-weight:    $font-weight-h2;
  letter-spacing: $letter-spacing-h2;
  line-height:    $line-height-h2;
}

h3 {
  font-size:      $font-size-h3;
  font-weight:    $font-weight-h3;
  letter-spacing: $letter-spacing-h3;
  line-height:    $line-height-h3;
}

h4 {
  font-size:      $font-size-h4;
  font-weight:    $font-weight-h4;
  letter-spacing: $letter-spacing-h4;
  line-height:    $line-height-h4;
}

h5 {
  font-size:      $font-size-h5;
  font-weight:    $font-weight-h5;
  letter-spacing: $letter-spacing-h5;
  line-height:    $line-height-h5;
}

h6 {
  font-size:      $font-size-h6;
  font-weight:    $font-weight-h6;
  letter-spacing: $letter-spacing-h6;
  line-height:    $line-height-h6;
}

small {
  font-size: $font-size-small;
}

strong {
  font-weight: $font-weight-bold;
}

a {
  color:       $link-color;
  font-weight: $link-font-weight;

  &:hover {
    color: $link-hover-color;
  }
}
