<template>
  <div>
    <h1>{{properCase componentName}}</h1>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({})
  class {{properCase componentName}} extends Vue {

  }

  export default {{properCase componentName}};
</script>

<style lang="scss" module>

</style>
