@use 'sass:map';
@use 'sass:string';

@function create-variation-for($name, $hue) {
  $lightness: (
    1: 99%,
    2: 90%,
    3: 80%,
    4: 70%,
    5: 50%,
    6: 45%,
    7: 40%,
    8: 30%,
    9: 25%,
    10: 20%,
  );
  $chroma: (
    1: 0.019,
    2: 0.06,
    3: 0.106,
    4: 0.146,
    5: 0.207,
    6: 0.195,
    7: 0.175,
    8: 0.149,
    9: 0.119,
    10: 0.088,
  );
  $map: ();

  @for $i from 1 through 10 {
    $l: map.get($lightness, $i);
    $c: map.get($chroma, $i);
    $key: string.unquote('#{$name}-#{$i}');
    $value: string.unquote('oklch(#{$l} #{$c} #{$hue})');
    $map: map.merge(
      $map,
      (
        $key: $value,
      )
    );
  }

  @return $map;
}

@function create-neutral-variation($name, $chroma, $hue) {
  $lightness: (
    0: 1,
    1: 97.5%,
    2: 92%,
    3: 85%,
    4: 75%,
    5: 50%,
    6: 45%,
    7: 40%,
    8: 30%,
    9: 25%,
    10: 20%,
  );
  $map: ();

  @for $i from 0 through 10 {
    $l: map.get($lightness, $i);
    $c: if($i == 0, 0, $chroma); // neutral-0 is achromatic
    $key: string.unquote('#{$name}-#{$i}');
    $value: string.unquote('oklch(#{$l} #{$c} #{$hue})');
    $map: map.merge(
      $map,
      (
        $key: $value,
      )
    );
  }

  @return $map;
}

$palette-colors: ();
$palette-colors: map.merge($palette-colors, create-variation-for('primary', 290.11));
$palette-colors: map.merge($palette-colors, create-neutral-variation('neutral', 0.005, 290.11));
$palette-colors: map.merge($palette-colors, create-variation-for('success', 145));
$palette-colors: map.merge($palette-colors, create-variation-for('info', 253.03));
$palette-colors: map.merge($palette-colors, create-variation-for('warning', 83.47));
$palette-colors: map.merge($palette-colors, create-variation-for('danger', 28.67));

@function palette-color($key) {
  @return map.get($palette-colors, $key);
}

@function palette-color-level($color-name, $level) {
  $color: palette-color($color-name + '-' + $level);

  @return $color;
}
