$font-family: 'Inter', helvetica, sans-serif;

/* Font Sizes */
$text-1: 1.2rem;
$text-2: 1.4rem;
$text-3: 1.6rem;
$text-4: 1.8rem;
$text-5: 2rem;
$text-6: 2.4rem;
$text-7: 3rem;
$text-8: 3.6rem;
$text-9: 4.8rem;
$font-size-12: 1.2rem;
$font-size-13: 1.3rem;
$font-size-14: 1.4rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-24: 2.4rem;
$font-size-25: 2.5rem;
$font-size-31: 3.1rem;
$font-size-39: 3.9rem;
$font-size-49: 4.9rem;
$font-size-61: 6.1rem;

/* Line Heights */
$line-height-1: 1.6rem;
$line-height-2: 2rem;
$line-height-3: 2.4rem;
$line-height-4: 2.8rem;
$line-height-5: 2.8rem;
$line-height-6: 3.2rem;
$line-height-7: 3.6rem;
$line-height-8: 4rem;
$line-height-9: 5.6rem;
$line-height-16: 1.6rem;
$line-height-18: 1.8rem;
$line-height-20: 2rem;
$line-height-24: 2.4rem;
$line-height-26: 2.6rem;
$line-height-28: 2.8rem;
$line-height-30: 3rem;
$line-height-32: 3.2rem;
$line-height-34: 3.4rem;
$line-height-38: 3.8rem;
$line-height-47: 4.7rem;
$line-height-59: 5.9rem;
$line-height-74: 7.4rem;

/* Letter Spacings */
$letter-spacing-1: 0px;
$letter-spacing-2: 0.2px;
$letter-spacing-3: 0.3px;
$letter-spacing-4: 0.4px;
$letter-spacing-tightest: -0.5;
$letter-spacing-tight: -0.25;
$letter-spacing-normal: 0;
$letter-spacing-wide: 0.25;
$letter-spacing-wider: 0.5;

/* Font Weights */
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
