$accordion-item-header-bg: $brand-bg-color-variant;
$accordion-item-header-shadow: none;
$accordion-item-header-padding: $space-8 $space-12;
$accordion-item-header-border: 1px solid $brand-border-color;
$accordion-item-header-arrow-color: $brand-secondary;
$accordion-item-body-padding: $accordion-item-header-padding;
