@include add-theme-variable(
  button-color,
  (
    'light': var(--brand-text-color),
    'dark': var(--brand-text-color-inverse),
  )
);
$badge-padding: $space-4 $space-8;
$badge-margin: 0;
$badge-font-size: $font-size-small;
$badge-line-height: inherit;
$badge-letter-spacing: inherit;
$badge-border-radius: var(--brand-border-radius);
$badge-font-weight: $font-weight-regular;

$badge-outlined-border-width: 1px;

$badge-variations: (
  'default': (
    'bg': var(--brand-default),
    'color': var(--brand-text-color-inverse),
  ),
  'primary': (
    'bg': var(--brand-primary),
    'color': var(--button-color),
  ),
  'secondary': (
    'bg': var(--brand-secondary),
    'color': var(--button-color),
  ),
  'success': (
    'bg': var(--brand-success),
    'color': var(--button-color),
  ),
  'warning': (
    'bg': var(--brand-warning),
    'color': var(--button-color),
  ),
  'danger': (
    'bg': var(--brand-danger),
    'color': var(--brand-text-color-inverse),
  ),
);
