$breadcrumb-margin: 0 0 $space-32 0;
$breadcrumb-padding: $space-32 0 0 0;
$breadcrumb-link-color: var(--brand-link-color);
$breadcrumb-link-hover-color: var(--brand-link-hover-color);
$breadcrumb-separator: '›';
