@include add-theme-variable(
  button-color,
  (
    'light': var(--brand-text-color),
    'dark': var(--brand-text-color-inverse),
  )
);

$button-font-family: $font-family;
$button-padding: $space-8 $space-12;
$button-margin: 0 $space-8 0 0;
$button-min-width: $space-32;
$button-height: auto;
$button-font-size: $font-size;
$button-font-weight: 400;
$button-border-radius: var(--brand-border-radius);
$button-shadow: none;
$button-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
$button-active-shadow: 0 12px 20px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.18);
$button-text-decoration: none;
$button-hover-text-decoration: none;
$button-text-transform: uppercase;
$button-disabled-opacity: 0.7;

$button-outlined-border-width: 0.2rem;

$button-variations: (
  'default': (
    'bg': var(--brand-default),
    'color': var(--brand-text-color-inverse),
    'hover-bg': var(--brand-default-hover),
    'hover-color': var(--brand-text-color-inverse),
    'border': $button-outlined-border-width solid var(--brand-default),
  ),
  'primary': (
    'bg': var(--brand-primary),
    'color': var(--button-color),
    'hover-bg': var(--brand-primary-hover),
    'hover-color': var(--button-color),
    'border': $button-outlined-border-width solid var(--brand-primary),
  ),
  'secondary': (
    'bg': var(--brand-secondary),
    'color': var(--button-color),
    'hover-bg': var(--brand-secondary-hover),
    'hover-color': var(--button-color),
    'border': $button-outlined-border-width solid var(--brand-secondary),
  ),
  'success': (
    'bg': var(--brand-success),
    'color': var(--button-color),
    'hover-bg': var(--brand-success-hover),
    'hover-color': var(--button-color),
    'border': $button-outlined-border-width solid var(--brand-success),
  ),
  'warning': (
    'bg': var(--brand-warning),
    'color': var(--button-color),
    'hover-bg': var(--brand-warning-hover),
    'hover-color': var(--button-color),
    'border': $button-outlined-border-width solid var(--brand-warning),
  ),
  'danger': (
    'bg': var(--brand-danger),
    'color': var(--brand-text-color-inverse),
    'hover-bg': var(--brand-danger-hover),
    'hover-color': var(--brand-text-color-inverse),
    'border': $button-outlined-border-width solid var(--brand-danger),
  ),
);
