$calendar-max-width: $screen-phone;
$calendar-shadow: none;
$calendar-bg: $brand-bg-color;
$calendar-margin: 0;

$calendar-header-bg: $brand-primary;
$calendar-header-color: foreground-color($calendar-header-bg);
$calendar-header-padding: $space-12 $space-24;
$calendar-header-text-shadow: none;
$calendar-header-font-weight: $font-weight-regular;

$calendar-body-border: 1px solid $brand-border-color;
$calendar-body-padding: $space-8 $space-12;

$calendar-arrow-color: foreground-color($calendar-bg);
$calendar-arrow-bg: $calendar-bg;
$calendar-arrow-hover-bg: $brand-bg-color-variant;

$calendar-day-border-radius: 0;
$calendar-day-hover: $brand-bg-color-variant;

$calendar-current-day-bg: $brand-primary;
$calendar-current-day-color: foreground-color($calendar-current-day-bg);
$calendar-current-day-font-weight: $font-weight-light;

$calendar-selected-day-bg: $brand-secondary;
$calendar-selected-day-color: foreground-color($calendar-selected-day-bg);
$calendar-selected-day-font-weight: $font-weight-light;
