$carousel-min-height: 500px;
$carousel-copyright-color: $text-color-inverse;
$carousel-copyright-bottom: $space-unit * 2;
$carousel-copyright-left: $space-unit * 2;
$carousel-copyright-shadow: 0 0 3px $bg-color-inverse;
$carousel-copyright-font-size: 75%;
$carousel-indicator-bottom: 0;
$carousel-indicator-size: $space-unit;
$carousel-indicator-space: $space-unit;
$carousel-indicator-shadow: none;
$carousel-indicator-bg: $bg-color;
$carousel-indicator-active-bg: $brand-secondary;
