$checkbox-color: var(--brand-text-color);
$checkbox-padding: 0;
$checkbox-margin: 0 0 $space-12 0;
$checkbox-size: $space-20;
$checkbox-bg: var(--brand-bg-color);
$checkbox-border: 1px solid var(--brand-secondary);
$checkbox-transition: background var(--brand-transition-duration) cubic-bezier(0, 0.84, 0.83, 0.67);
$checkbox-check: 2px solid #fff;
$checkbox-check-margin: 0 $space-12 0 0;
$checkbox-checked-bg: var(--brand-secondary);
$checkbox-shadow: -2px 2px 2px rgba(0, 0, 0, 0.24);
