$palette-colors: (
  'coral': #f43b6c,
  'blue': #063cbe,
  'green': #0ca75f,
  'yellow': #f3c811,
  'red': #e84606,
  'black': #17181c,
);

@function palette-color($key) {
  @return map-get($palette-colors, $key);
}

// 0-100 tints
// 100 - 200 shades
@function palette-color-level($color-name, $level) {
  $color: palette-color($color-name);
  $color-base: if($level > 100, black, white);
  $color-level: if($level > 100, $level - 100, 100 - $level);

  @return mix($color-base, $color, $color-level);
}
