$footer-padding: $space-12 0 $space-12 0;
$footer-bg: $brand-bg-color-inverse;
$footer-color: $brand-text-color-inverse;
$footer-link-color: $brand-text-color-inverse;
$footer-link-hover-color: darken($footer-link-color, 5%);
$footer-link-font-weight: $link-font-weight;
