@import 'spacings';

$screen-phone: 320px;
$screen-phone-max: $screen-phone - 1;
$screen-tablet-portrait: 768px;
$screen-tablet-portrait-max: $screen-tablet-portrait - 1;
$screen-tablet-landscape: 1024px;
$screen-tablet-landscape-max: $screen-tablet-landscape - 1;
$screen-small-desktop: 1280px;
$screen-small-desktop-max: $screen-small-desktop - 1;
$screen-large-desktop: 1280px;
$screen-large-desktop-max: $screen-large-desktop - 1;

/* Gutters */
$gutter-sm: $space-8;
$gutter-md: $space-16;
$gutter-lg: $space-32;
