$loader-size: $space-20;
$loader-medium-size: $space-32;
$loader-large-size: $space-52;

$loader-variations: (
  'default': var(--brand-default),
  'primary': var(--brand-primary),
  'secondary': var(--brand-secondary),
  'success': var(--brand-success),
  'warning': var(--brand-warning),
  'danger': var(--brand-danger),
);
