$pagination-margin: 0;
$pagination-padding: 0;
$pagination-label-padding: $space-8 $space-12;
$pagination-label-min-width: $space-84;
$pagination-button-size: $space-40;
$pagination-button-bg: $brand-bg-color-variant;
$pagination-button-shadow: none;
$pagination-button-border: 1px solid $brand-border-color;
$pagination-arrow-color: $brand-secondary;
$pagination-arrow-disabled-color: $brand-border-color;
