$pagination-margin: 0;
$pagination-padding: 0;
$pagination-label-padding: $space-unit $space-unit * 2;
$pagination-label-min-width: $space-unit * 10;
$pagination-button-size: $space-unit * 5;
$pagination-button-bg: $bg-color-variant;
$pagination-button-shadow: none;
$pagination-button-border: 1px solid $border-color;
$pagination-arrow-color: $brand-secondary;
$pagination-arrow-disabled-color: $bg-color;
