$select-bg: $brand-bg-color-variant;
$select-shadow: none;
$select-margin: 0;
$select-padding: $space-8 $space-12;
$select-border: 1px solid $brand-border-color;
$select-color: foreground-color($select-bg);
$select-font-size: $font-size;
$select-arrow-color: $brand-secondary;

$select-multi-max-height: $space-84;
$select-multi-option-padding: $space-4 0;
