$sidebar-index: 1999;
$sidebar-shadow: var(--brand-shadow-md);
$sidebar-bg: var(--brand-bg-color);
$sidebar-color: var(--brand-text-color);
$sidebar-max-width: 80%;
$sidebar-padding: $space-84 $space-20 $space-20 $space-20;
$sidebar-margin: 0;
$sidebar-transition: transform var(--brand-transition-duration) ease-in-out;
$sidebar-width: 300px;
$sidebar-height: 100%;
$sidebar-hamburger-bg: transparent;
$sidebar-hamburger-color: var(--nav-bar-color);
$sidebar-hamburger-open-bg: transparent;
$sidebar-hamburger-open-color: $sidebar-color;

$sidebar-group-margin: 0 0 $space-48 0;
$sidebar-group-font-weight: $font-weight-light;
$sidebar-group-font-size: $font-size;
$sidebar-group-border-bottom: 1px solid var(--brand-border-color);

$sidebar-group-item-font-weight: $font-weight-light;
$sidebar-group-item-font-size: $font-size;
$sidebar-group-item-color: $sidebar-color;
$sidebar-group-item-hover-color: $sidebar-color;
$sidebar-group-item-hover-bg: var(--brand-bg-color-variant);
