$slider-margin: 0;
$slider-padding: $space-20 $space-12;
$slider-track-bg: var(--brand-border-color);
$slider-track-shadow: none;
$slider-progress-height: $space-4;
$slider-progress-bg: var(--brand-secondary);
$slider-handle-size: $space-32;
$slider-handle-shadow: none;
$slider-handle-bg: var(--brand-bg-color);
$slider-handle-border: 2px solid var(--brand-secondary);
$slider-handle-transition: box-shadow var(--brand-transition-duration) ease-in-out;
$slider-handle-active-shadow: var(--brand-shadow-outline);
$slider-values-margin: 0 0 40px -16px;
