/* General */
$space-unit: 0.8rem;

/* Spacing */
$space-2: $space-unit * 0.25; //   2px
$space-4: $space-unit * 0.5; //    4px
$space-8: $space-unit; //          8px
$space-12: $space-unit * 1.5; //  12px
$space-16: $space-unit * 2; //    16px
$space-20: $space-unit * 2.5; //  20px
$space-24: $space-unit * 3; //    24px
$space-32: $space-unit * 4; //    32px
$space-40: $space-unit * 5; //    40px
$space-48: $space-unit * 6; //    48px
$space-52: $space-unit * 6.5; //  52px
$space-84: $space-unit * 10.5; // 84px
