$tooltip-bg: $brand-secondary;
$tooltip-color: $brand-bg-color;
$tooltip-padding: 0 $space-8;
$tooltip-shadow: none;
$tooltip-highlight-color: $tooltip-bg;
$tooltip-border-radius: $brand-border-radius;
