$tooltip-bg: $brand-bg-color-inverse;
$tooltip-color: foreground-color($tooltip-bg);
$tooltip-padding: 0 $space-4;
$tooltip-shadow: none;
$tooltip-highlight-color: $tooltip-bg;
$tooltip-border-radius: $brand-border-radius;
