$accordion-item-header-bg: transparent;
$accordion-item-header-bg-hover: var(--brand-interaction-neutral-hovered);
$accordion-item-header-height: $space-56;
$accordion-item-header-icon-container-size: $space-40;
$accordion-item-header-icon-size: $space-24;
$accordion-item-header-border: 1px solid var(--brand-border-default-medium);
