$accordion-item-header-bg: palette-color-level('neutral', 0); // TODO: add token
$accordion-item-header-height: $space-56;
$accordion-item-header-icon-container-size: $space-40;
$accordion-item-header-icon-size: $space-24;
$accordion-item-header-border: 1px solid var(--brand-primary-border-color);
