$avatar-background: var(--brand-success-active);
$avatar-sm-size: $space-32;
$avatar-md-size: $space-56;
$avatar-lg-size: $space-84;
$avatar-border-radius: 50%;
$avatar-border: 1px solid var(--brand-secondary-border-color);
