$avatar-background: var(--brand-interaction-success-activated);
$avatar-sm-size: $space-32;
$avatar-md-size: $space-56;
$avatar-lg-size: $space-84;
$avatar-border-radius: 50%;
$avatar-border: 1px solid var(--brand-border-default-low);
