$badge-padding: $space-2 $space-12;
$badge-height: $space-20;
$badge-border-radius: $badge-height;

$badge-variations: (
  'info': (
    'color': var(--brand-text-color-info),
    'bg': var(--brand-surface-color-info),
  ),
  'warning': (
    'color': var(--brand-text-color-warning),
    'bg': var(--brand-surface-color-warning),
  ),
  'success': (
    'color': var(--brand-text-color-success),
    'bg': var(--brand-surface-color-success),
  ),
  'danger': (
    'color': var(--brand-text-color-danger),
    'bg': var(--brand-surface-color-danger),
  ),
  'neutral': (
    'color': var(--brand-text-color-default-medium),
    'bg': var(--brand-surface-color-default-medium),
  ),
);
