$badge-padding: $space-2 $space-12;
$badge-height: $space-20;
$badge-border-radius: $space-20;

$badge-variations: (
  'info': (
    'color': var(--brand-primary-active),
    'bg': var(--brand-primary-focus),
  ),
  'warning': (
    'color': var(--brand-warning-active),
    'bg': var(--brand-warning-focus),
  ),
  'success': (
    'color': var(--brand-success-active),
    'bg': var(--brand-success-focus),
  ),
  'danger': (
    'color': var(--brand-danger-active),
    'bg': var(--brand-danger-focus),
  ),
);
