$modal-bg: var(--surface-default-high);
$modal-border-radius: 8px;
$modal-border: 1px solid var(--border-default-low);
$modal-close-button-gap: $space-8;
$modal-close-button-size: $space-24;
$modal-close-button-border-radius: var(--border-radius-sm);
$modal-close-button-outline: var(--focused);
$modal-close-button-color: var(--text-default-low);
$modal-close-button-color-hover: var(--text-default-medium);
$modal-shadow: var(--elevation-4);
$modal-index: 2001;
$modal-max-width: 50%;
$modal-transition: var(--fade-animation-transition);
