$popover-bg: var(--surface-default-high);
$popover-border: 1px solid var(--border-default-medium);
$popover-border-radius: 6px;
$popover-padding: $space-8;
$popover-elevation: var(--elevation-3);

$popover-arrow-size: $space-12;
