$tab-height: $space-48;
$tab-width: $space-120 * 2;
$tab-icon-size: $space-20;
$tab-icon-gap: $space-8;
$tab-padding: 0 $space-16;

// default
$tab-border: 2px solid var(--border-default-low);
$tab-color: var(--text-default-low);

// default hover
$tab-border-hover: 2px solid var(--border-default-low);
$tab-color-hover: var(--text-default-high);

// active
$tab-border-active: 2px solid var(--interaction-primary-enabled);
$tab-color-active: var(--interaction-primary-enabled);

// active hover
$tab-border-active-hover: 2px solid var(--interaction-primary-hovered);
$tab-color-active-hover: var(--interaction-primary-hovered);
