$tab-height: $space-40;
$tab-width: $space-120 * 2;
$tab-icon-size: $space-20;
$tab-icon-gap: $space-8;

// default
$tab-border: 1px solid var(--brand-border-color-medium);
$tab-color: var(--brand-text-color-low);

// default hover
$tab-border-hover: 1px solid var(--brand-border-color-high);
$tab-color-hover: var(--brand-text-color-medium);

// active
$tab-border-active: 2px solid var(--brand-interaction-color-primary-enabled);
$tab-color-active: var(--brand-interaction-color-primary-enabled);

// active hover
$tab-border-active-hover: 2px solid var(--brand-interaction-color-primary-hovered);
$tab-color-active-hover: var(--brand-interaction-color-primary-hovered);
