$tooltip-bg: var(--brand-surface-inverse-high);
$tooltip-color: var(--brand-text-inverse-high);
$tooltip-padding: $space-8;
$tooltip-highlight-color: $tooltip-bg;
$tooltip-border-radius: var(--brand-border-radius-md);
$tooltip-font-size: $text-1;
$tooltip-line-height: $line-height-1;
$tooltip-font-weight: $font-weight-regular;
$tooltip-elevation: var(--brand-elevation-2);
$tooltip-transition-duration: var(--brand-transition-duration);
