<template>
  <div :class="$style.{{ camelCase componentName }}">
    <vue-headline level="1">{{ properCase componentName }}</vue-headline>
  </div>
</template>

<script lang="ts">
  import VueHeadline                from '../../shared/components/VueHeadline/VueHeadline.vue';

  export default {
    name:       '{{ properCase componentName }}',
    components: {
      VueHeadline
    },
    props:      {},
    data(): any {
      return {};
    },
    computed:   {},
    methods:    {},
  };
</script>

<style lang="scss" module>
  .{{ camelCase componentName }} {
    display: block;
  }
</style>
