$autocomplete-bg: var(--brand-primary-bg-color);
$autocomplete-padding: 0;
$autocomplete-shadow: none;
$autocomplete-border: 1px solid var(--brand-primary-border-color);

$autocomplete-item-padding: $space-8 $space-12;
$autocomplete-item-border: 1px solid var(--brand-primary-border-color);
$autocomplete-item-selected-bg: var(--brand-secondary-bg-color);
$autocomplete-item-selected-color: var(--brand-high-emphasis-text-color);
