$footer-padding: 0;
$footer-bg: var(--brand-secondary-bg-color);
$footer-color: var(--brand-primary-text-color);
$footer-link-color: var(--brand-link-color);
$footer-link-hover-color: var(--brand-link-hover-color);
$footer-link-font-weight: $link-font-weight;
