@import 'designSystem/variables';
@import 'designSystem/mixins';

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  font-size: $text-1;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-spacing-1;
  line-height: $line-height-2;
  font-display: swap;
  color: var(--brand-medium-emphasis-text-color);
}

small {
  font-size: $text-1;
}

strong {
  font-weight: $font-weight-semi-bold;
}

a {
  color: var(--brand-primary-enabled);
  font-weight: $link-font-weight;

  &:hover {
    color: var(--brand-primary-hover);
  }
}
