@import 'design-system/variables/variables';

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  font-size: $text-3;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-spacing-1;
  line-height: $line-height-3;
  font-display: swap;
  color: var(--text-default-high);
}

small {
  font-size: $text-1;
}

strong {
  font-weight: $font-weight-semi-bold;
}

a {
  color: var(--interaction-primary-enabled);

  &:hover {
    color: var(--interaction-primary-hovered);
  }
}
