@import 'designSystem/variables';
@import 'designSystem/mixins';

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  font-size: 1.6em;
  font-weight: $font-weight-light;
  letter-spacing: $letter-spacing;
  line-height: $line-height-md;
  font-display: swap;
}

small {
  font-size: $font-size-sm;
}

strong {
  font-weight: $font-weight-bold;
}

a {
  color: var(--brand-link-color);
  font-weight: $link-font-weight;

  &:hover {
    color: var(--brand-link-hover-color);
  }
}
