$navbar-bg: var(--brand-surface-default-high);
$navbar-height: $space-56;
$navbar-index: 100;
$navbar-elevation: var(--brand-elevation-1);
$navbar-border: 1px solid var(--brand-border-default-low);

// menu
$navbar-menu-icon-size: $space-24;
$navbar-menu-outline: var(--brand-focused);
