// Sidebar
$sidebar-bg: var(--brand-secondary-bg-color);
$sidebar-height: 100%;
$sidebar-width: $space-120 * 2;
$sidebar-index: 1999;
$sidebar-outline: var(--brand-shadow-outline);

// Group
$sidebar-group-icon-size: $space-16;
$sidebar-group-icon-border-radius: $space-2;

// Group item
$sidebar-group-item-height: $space-32;
$sidebar-group-item-icon-size: $space-20;
$sidebar-group-item-border-radius: $space-4;
$sidebar-group-item-color: var(--brand-medium-emphasis-text-color);
$sidebar-group-item-bg: var(--brand-secondary-bg-color);
$sidebar-group-item-gap: $space-4;

// hover
$sidebar-group-item-color-hover: var(--brand-secondary-bg-color);
$sidebar-group-item-bg-hover: var(--brand-medium-emphasis-text-color);
