$palette-colors: (
  'primary-1': #edf5ff,
  'primary-2': #d0e2ff,
  'primary-3': #a6c8ff,
  'primary-4': #78a9ff,
  'primary-5': #4589ff,
  'primary-6': #0f62fe,
  'primary-7': #0043ce,
  'primary-8': #002d9c,
  'primary-9': #001d6c,
  'primary-10': #001141,
  'neutral-0': #fff,
  'neutral-1': #f2f4f8,
  'neutral-2': #dde1e6,
  'neutral-3': #c1c7cd,
  'neutral-4': #a2a9b0,
  'neutral-5': #878d96,
  'neutral-6': #70767d,
  'neutral-7': #4d5358,
  'neutral-8': #343a3f,
  'neutral-9': #21272a,
  'neutral-10': #121619,
  'danger-1': #fff1f1,
  'danger-2': #ffd7d9,
  'danger-3': #ffb3b8,
  'danger-4': #ff8389,
  'danger-5': #fa4d56,
  'danger-6': #da1e28,
  'danger-7': #a2191f,
  'danger-8': #750e13,
  'danger-9': #520408,
  'danger-10': #2d0709,
  'warning-1': #fff9e5,
  'warning-2': #fff0ba,
  'warning-3': #ffe482,
  'warning-4': #ffd333,
  'warning-5': #e8b911,
  'warning-6': #c39900,
  'warning-7': #9a7900,
  'warning-8': #6d5500,
  'warning-9': #493901,
  'warning-10': #272006,
  'success-1': #defbe6,
  'success-2': #a7f0ba,
  'success-3': #6fdc8c,
  'success-4': #42be65,
  'success-5': #24a148,
  'success-6': #198038,
  'success-7': #0e6027,
  'success-8': #044317,
  'success-9': #022d0d,
  'success-10': #071908,
  'info-1': #cdf7f7,
  'info-2': #99f0ee,
  'info-3': #5fd9d7,
  'info-4': #47c1bf,
  'info-5': #37a4a2,
  'info-6': #2a7b7e,
  'info-7': #235658,
  'info-8': #1d4044,
  'info-9': #102a2d,
  'info-10': #0b2022,
);

@function palette-color($key) {
  @return map-get($palette-colors, $key);
}

@function palette-color-level($color-name, $level) {
  $color: palette-color($color-name + '-' + $level);
  @return $color;
}
// 393d47
