$font-family-serif: 'Lora', Helvetica, sans-serif;
$font-family: 'Inter', Helvetica, sans-serif;

/* Font Sizes */
$text-1: 1.2rem;
$text-2: 1.4rem;
$text-3: 1.6rem;
$text-4: 2rem;
$text-5: 2.4rem;
$text-6: 3rem;
$text-7: 3.6rem;
$text-8: 4.8rem;

/* Line Heights */
$line-height-1: 1.6rem;
$line-height-2: 2rem;
$line-height-3: 2.4rem;
$line-height-4: 2.4rem;
$line-height-5: 3.2rem;
$line-height-6: 4rem;
$line-height-7: 4.8rem;
$line-height-8: 5.6rem;

/* Letter Spacings */
$letter-spacing-1: 0px;
$letter-spacing-2: 0.2px;
$letter-spacing-3: 0.3px;
$letter-spacing-4: 0.4px;

/* Font Weights */
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
